/* CSS for BlastOff Assignment
By David Garcia
11/20/2021 */

/* Custom font files included */
@font-face {
  font-family: "myRockFont";
  src: url(District.ttf);
}

@font-face {
  font-family: "myGothFont";
  src: url(QuaelGothic.ttf);
}

/* Keeps everything on one full screen, no need to scroll */
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sets min height to 100% for viewport height for everything around page */
#whole-wrap {
  position: relative;
  min-height: 100vh;
}

/* Ensures enough space for left for footer */
#header-wrap {
  padding-bottom: 2.5rem;
}

/* Needs to be absolute with value of 0 to stick to bottom of whole wrap */
#footer {
  font-family: myRockFont;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: rgb(138, 22, 22)
}

h1 {
  color: black;
  font-family: myRockFont;
  font-size: 150px;
  letter-spacing: 10px;
  word-spacing: 20px;
  line-height: 150px;
  text-align: center;
}

h2 {
  color: black;
  font-family: myGothFont;
  font-size: 75px;
  letter-spacing: 10px;
  word-spacing: 12px;
  line-height: 75px;
  text-align: center;
}

/* Got example for big red button on codepen https://codepen.io/dudleystorey/pen/zqgGn */
button {
  border-radius: 75%;
  width: 300px;
  height: 300px;
  border: none;
  color: white;
  font-family: fantasy;
  font-weight: 900;
  font-size: 4rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122, 17, 8, .8);
  box-shadow: 0 8px 0 rgb(183, 9, 0),
    0 15px 20px rgba(0, 0, 0, .35);
  text-transform: uppercase;
  transition: .2s all ease-out;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Used https://www.w3schools.com/howto/howto_css_animate_buttons.asp to animate buttons */

/* Background color when mouse hovers over button */
button:hover {
  background-color: darkred;
}


/* Centers a button level element, sets both margin left & right */
.margin-auto {
  margin: 0 auto;
}

/* Button active state */
button:active {
  /* Controls space inside the button, buffer room, and clickable space */
  padding-top: 2px;
  /* How much the button moves */
  transform: translateY(5px);
  box-shadow: 0 4px 0 rgb(183, 0, 0),
    0 8px 6px rgba(0, 0, 0, .45);
}

#CountdownDisplay {
  font-family: myRockFont;
  font-size: 4.0rem;
  text-align: center;
  color: black
}

#BlastOffDisplay {
  font-family: myRockFont;
  font-size: 4.0rem;
  text-align: center;
  color: black
}